<div class="row">
  <a routerLink="/index.html" class="brand">
    <div class="brand__logo" inlineSVG="spark-logo.svg"></div>

    <div>
      <h1 class="brand__title">Spark</h1>
      <p class="brand__subtitle">Why haven't the Z's thought of this?</p>
    </div>
  </a>

  <!--<button-->
      <!--*ngIf="isBrowser"-->
      <!--class="toggle"-->
      <!--(click)="toggle()">-->
    <!--<span class="toggle__bar"></span>-->
    <!--<span class="toggle__bar"></span>-->
    <!--<span class="toggle__bar"></span>-->
  <!--</button>-->
</div>

<div class="row">
  <!--<app-menu class="header-menu" [isToggled]="isMenuToggled"></app-menu>-->
  <app-menu class="header-menu"></app-menu>
</div>
