<app-tagline></app-tagline>

<div class="std-container">
  <div class="background background--b background--l background--orange shadow"></div>

  <div class="foreground shadow">
    <div class="title">Meet the team</div>
    <div class="description" style="min-height: 600px;">
      The Spark team are here to help!<br/>
      If you have any questions at all, check the posters in any of the offices, check with you managers or use the form below <span style="font-style: italic;">(coming soon)</span>!
    </div>
  </div>
</div>
