<app-tagline></app-tagline>

<div class="std-container">
  <div class="background background--b background--l background--orange shadow"></div>

  <div class="foreground shadow submissions-closed">
    Hi All,<br/>
    <br/>
    Thank you very much for your submission to SPARK the first Ryanair 24hour Innovation Challenge. Submissions are now closed!!!!!<br/>
    <br/>
    We have been blown away with the level of responses and engagement over the past few weeks with over 100 ideas submitted.
    We are spending this week reviewing the ideas.
    All ideas will be assessed by John Hurley CTO and prioritised according to innovation, impact and feasibility.
    A shortlist of 15 will then be presented to all Z's and a final list of up to 6 ideas will be signed off by the CEO Michael O'Leary.
    Once the final ideas are selected at Z Level we will notify everyone.
    <br/>
    We hope to publish all these ideas without names or identifying information on the intranet this week to showcase the quality of ideas.<br/>
    <br/>
    Once again thanks you for your commitment so far and we will be in touch soon.<br/>
    <br/>
    If you have any questions please let us.<br/>
    <br/>
    Thanks
    <span class="submissions-closed__team">Spark Team</span>
  </div>
</div>
